@import './sectionGrid.scss';
@import './buttons.scss';
@import './checkbox.scss';

.App {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}

.App__header {
  background-color: red;
  color: white;
  width: 100vw;
  position: absolute;
  left: 0;
  padding-bottom: 5px;
  margin: 0;
  top: 0;
}

.App__currentCycle{
  font-size: 2rem;
}