$buttonBgColor: red;

@mixin buttonGlobal {
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin: 2px;
  background-color: $buttonBgColor;
  color: white;
  font-size: 1.5rem;
  &:hover{
    background-color: lighten($buttonBgColor, 10%);
  }
}

.App__button--start, .App__button--stop, .App__button--clear{
  @include buttonGlobal;
}



